body {
  font-family: "Muli", sans-serif;
  padding: 0;
  margin: 0; }

.firstSection {
  grid-area: firstSection;
  background: #3a7bd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%;
  height: 950px; }

.secondSection {
  height: 250px;
  background: #1d1d1d;
  grid-area: secondSection;
  text-align: center;
  align-items: center; }

.thirdSection {
  grid-area: thirdSection;
  height: 350px; }

.fourthSection {
  grid-area: fourthSection;
  height: 850px;
  background: #1d1d1d; }

.fifthSection {
  grid-area: fifthSection;
  height: 600px; }

.sixthSection {
  grid-area: sixthSection;
  height: 750px;
  background: #274060; }

.main-footer {
  grid-area: footer;
  height: 160px;
  background: white; }

.map {
  grid-area: map;
  height: 400px;
  width: 100%; }

.wrapper {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  display: grid;
  align-content: start;
  grid-template-areas: "firstSection" "secondSection" "thirdSection" "fourthSection" "fifthSection" "sixthSection" "footer"; }

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center; }
  nav ul {
    grid-column: 3;
    padding-right: 15px; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        color: white;
        font-size: 20px;
        padding: 20px 20px 10px 20px;
        text-decoration: none; }
        nav ul li a:hover {
          color: white;
          transition: all 0.4s ease-out;
          box-shadow: 0 -2px 0 0 white inset; }

.logo {
  grid-column: 1;
  background-repeat: no-repeat;
  margin: 30px 100px; }

h1 {
  color: white;
  text-align: center;
  padding: 120px 0 50px;
  font-size: 60px; }

h2 {
  color: white;
  text-align: center;
  padding: 30px 0; }

h3 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 20px 0; }

#blackH3 {
  color: #1d1d1d; }

.centerAlign {
  text-align: center; }

.swiper-slide {
  width: auto;
  cursor: pointer; }

.swiper-container {
  width: 1200px; }

.social {
  height: 50px;
  width: auto; }

.responsiveImg {
  width: auto; }

.iconContainer {
  margin: 50px 20px;
  text-align: center;
  align-items: center; }

section {
  align-items: center;
  text-align: center; }

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */ }

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049; }

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

button {
  margin: 0 0 20px 0;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  padding: 0 50px;
  cursor: pointer;
  position: relative; }
  button:focus {
    outline: 0; }

.triangle {
  position: relative; }
  .triangle::before {
    content: "";
    margin: 0 0 0 0px;
    width: 0px;
    height: 0px;
    border-bottom: solid 30px white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    position: absolute;
    top: 60px;
    left: 70px; }

.btnUp {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #3a7bd5;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px 20px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  opacity: 0.9; }

.btnUp:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
  opacity: 0.9; }

@media only screen and (max-width: 900px) {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column; }

  nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    text-align: center; }
    nav ul {
      grid-column: 1;
      grid-row: 2; }
      nav ul li a {
        padding: 5px;
        font-size: 18px; }
        nav ul li a:hover {
          color: white;
          text-decoration: none;
          transition: none;
          box-shadow: none; }

  button {
    padding: 0 5px;
    font-size: 18px; }
    button:focus::before {
      left: 20px; }

  .swiper-container {
    width: auto; }

  .logoContener {
    margin: 0 auto;
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
